@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #121212;
  --text-button: white;
  --text: #121212;
  --background: #ede8d0;
  --tint: #2f95dc;
  --icon: #121212;
  --tab-icon-default: #9ba1a6;
  --tab-icon-selected: #2f95dc;
  --border: #121212;
  --placeholder: #687076;
  --link: #0a7ea4;
  --error: #ff0000;
}

body {
  background-color: var(--background);
  color: var(--text);
}

a {
  color: var(--link);
}
